<!DOCTYPE html>
<html>
<head>
	
	<title>NOVEDADES OSLE</title>
	<link rel="stylesheet"  href= "./novedades.css">
	
</head>
<body class="body" >
<div class= "header">
	<div class= "center">
		<h1 class="nombresis">SISTEMA X</h1>
	</div>
</div>	
<div>
	<div class = "izq"> 
		<div>
			<h4>NOTICIAS</h4>
		</div>
		<div>
			<h2 class="titulo">Título_de_la_Noticia1</h2>
			<h2 class="titulo">Título_de_la_Noticia2</h2>
			<h2 class="titulo">Título_de_la_Noticia3</h2>
		</div>
		<div class="imagenesNoticias">
			<img class="SlideShow" src="prueba1.jpg">
			<img class="SlideShow" src="prueba2.jpeg">
			<img class="SlideShow" src="prueba3.jpg">
		
		</div>
		<div class="center">
			<button class="" id = "anterior">&#10094;</button>
			<button class="" id = "siguiente">&#10095;</button>
		</div>
		<div >
			<p class= "testo" >"I am going to look at the stars. They are so far away, and their light takes so long to reach us...All we ever see of stars are their old photographs."</p>
			<p class= "testo">"A live body and a dead body contain the same number of particles. Structurally there's no discernible difference."

			"Life and Death are unquantifiable abstracts. Why should I be concerned?"</p>
			<p class= "testo" >"I am tired of this world, these people. I am tired of being caught in the tangle of their lives."</p>
		</div>
	</div>
</div>
<script type="text/javascript" src="./novedades.js"></script>
</body>

</html>