body {
	background-color: lightgray;
	height: 100%
}
.header {
	background-color: #161616

}


.nombresis{

	color: white;
}

.fondo {
	background-color: white 
}

.titulo {
	text-align: center;

}

.subtitulo {

}

.testo {
	padding-left: 5%;
	color: #161616;
	
}

.SlideShow {
	padding-left: 3%;
	width: 94%;
}

.izq {

	background-color: white;
	width: 33%;	
	min-height: 100%
}

.dere{

	width: 60%;
	padding-left: 40%;
}
.center {
	text-align: center;
}